<!-- <form method="post" action="{% url 'login_security_key' %}">
    {% csrf_token %}
    <button type="submit">Login with Security Key</button>
</form>
<form method="post" action="{% url 'register_security_key' %}">
    {% csrf_token %}
    <button type="submit">Register Security Key</button>
</form> -->
{# templates/admin/login.html #}
{% extends "admin/base_site.html" %}

{% block content %}
<h1>Admin Login</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock %}
