# Git
.git
.gitignore
LICENSE

# Docker
.docker

# Python
nylex/__pycache__/
nylex/*/__pycache__/
nylex/*/*/__pycache__/
nylex/*/*/*/__pycache__/
.env/
.venv/
venv/
.myworld/
myworld/

# Local PostgreSQL data
data/

# Duplicate media folders consisting of media.
nylex/staticfiles/media/
nylex/media/
nylex/App/media/