# Git
.git
.gitignore
LICENSE

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
.myworld/
myworld/

# Local PostgreSQL data
data/