/* hero background image */
.bgimage, source {
    height:100vh;
    background-size:cover;
    position:relative;
    width: 100%;
    object-fit: fill;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbarScroll.navbarLight {
    background-color: white;
}

.nav-link {
    font-weight: 1000;
}

.transparentNav {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Reduce the height of the carousel */
#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
  }