{% load static %}
{% load media_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/ico" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <meta name="keywords" content="nylex, nylex.net, Eureka, Eureka Nylex.Net, Eureka IT services, IT support near Eureka ca, Eureka software development, networking, network solutions, routers, technology solutions, technology, solution provider, it solutions, it consulting, it services, software development, web development, switches, voip, video conferencing, wiring, server, setup, customer support, telecommunications, phone system, cabling">
    <meta name="description" content="{% block desc %}{% endblock %}">
    {% block extraTags %}{% endblock %}
    <style>
      .hero_title {
        font-size: 4.5rem;
      }
    </style>
    <!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <title>Nylex.net - {% block title %}{% endblock %}</title>
  </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg transparentNav"> <!-- navbar-light bg-light-->
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% media_url 'media/TransLex.png' %}" alt="Nylex.net Logo."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/about">About Nylex</a></li>
                <li><a class="dropdown-item" href="/full-outsource">Full Outsource</a></li>
                <li><a class="dropdown-item" href="/careers">Careers</a></li>
                <li><a class="dropdown-item" href="/faq">FAQ</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/a-la-carte">Outsource</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/infrastructure">Infrastructure</a></li>
                <li><a class="dropdown-item" href="/servers-networks">Servers & Networks</a></li>
                <li><a class="dropdown-item" href="/wifi">WiFi</a></li>
                <li><a class="dropdown-item" href="/phones">Phones</a></li>
                <li><a class="dropdown-item" href="/nvr">NVR</a></li>
                <li><a class="dropdown-item" href="/desktop">Desktop</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="ProjectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="ProjectsDropdown">
                <li><a class="dropdown-item" href="/projects">Projects</a></li>
                <li><a class="dropdown-item" href="/infrastructure">Infrastructure</a></li>
                <li><a class="dropdown-item" href="/it-help-desk">IT Help Desk</a></li>
                <li><a class="dropdown-item" href="/phones-cameras-wireless">Phones, Cameras, Wireless</a></li>
                <li><a class="dropdown-item" href="/cybersecurity">CyberSecurity</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Support & Contact</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" name="search_query" required aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- main banner -->
    {% block banned %}{% endblock %}
    <br>
  <header>
    <h1 class="text-center">{% block header %}{% endblock %}</h1>
  </header>
  <main>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8">{% block content %}{% endblock %}</div>
        <div class="col"></div>
      </div>
    </div>
  </main>
    <footer class="py-5" style="background-color: #68bb06;">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Nylex.net</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
              <li class="nav-item mb-2"><a href="/a-la-carte" class="nav-link p-0 text-muted">Outsource</a></li>
              <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Support & Contact</a></li>
              <li class="nav-item mb-2"><a href="/projects" class="nav-link p-0 text-muted">Projects</a></li>
              <li class="nav-item mb-2"><a href="/terms-of-use" class="nav-link p-0 text-muted">Terms of Use</a></li>
              <li class="nav-item mb-2"><a href="/privacy-policy" class="nav-link p-0 text-muted">Privacy Policy</a></li>
              <li class="nav-item mb-2"><a href="/site-map" class="nav-link p-0 text-muted">Site Map</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <h5>Resources</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://www.microsoft.com" class="nav-link p-0 text-muted">Microsoft</a></li>
              <li class="nav-item mb-2"><a href="https://www.ibm.com" class="nav-link p-0 text-muted">IBM</a></li>
              <li class="nav-item mb-2"><a href="https://www.lenovo.com" class="nav-link p-0 text-muted">Lenovo</a></li>
              <li class="nav-item mb-2"><a href="https://www.grandstream.com" class="nav-link p-0 text-muted">Grandstream</a></li>
              <li class="nav-item mb-2"><a href="https://www.hp.com" class="nav-link p-0 text-muted">HP</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <h5>Other</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/full-outsource" class="nav-link p-0 text-muted">Full Outsource</a></li>
              <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-muted">FAQ</a></li>
              <li class="nav-item mb-2"><a href="/infrastructure" class="nav-link p-0 text-muted">Infrastructure</a></li>
              <li class="nav-item mb-2"><a href="/it-help-desk" class="nav-link p-0 text-muted">IT Help Desk</a></li>
              <li class="nav-item mb-2"><a href="/phones-cameras-wireless" class="nav-link p-0 text-muted">Phones, Cameras, Wireless</a></li>
              <li class="nav-item mb-2"><a href="/cybersecurity" class="nav-link p-0 text-muted">CyberSecurity</a></li>
            </ul>
          </div>
          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Submit a Ticket to our Help Desk</h5>
              <p>Fill out our from to request technological assistence from our friendly and knowledgeable staff.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <!-- <label for="newsletter1" class="visually-hidden">Ticket Form</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Ticket Form"> -->
                <button class="btn btn-primary" type="button" onclick="window.location.href='https://forms.zohopublic.com/nylexportal/form/testticket/formperma/w6Uw-sjrScy4TEkr3a1U06viEhydNuikcr_-Uy8qSOk';">Ticket</button>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>© <span id="year"></span> Nylex.net. All rights reserved.</p>
          <!-- <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a class="link-dark" href="#">
                <svg class="bi" width="24" height="24">
                  <use href="#twitter"></use>
                </svg>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </footer>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("year").innerHTML = new Date().getFullYear();
      });
    </script>
    {% block extraStyle %}{% endblock %}
</body>
<script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}" type="text/javascript"></script>
{% block extraScripts %}{% endblock %}
</html>